@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap");

* {
  margin-top: 30px;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding: 2px 16px;
}

.card {
  flex: 0 1 33%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

h2 {
  text-shadow: 3px 3px 5px lightblue;
  font-family: "Abhaya Libre", serif;
}

p {
  font-family: "Abhaya Libre", serif;
  padding: 12px;
}
